body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f7f5ef;
    color: #333;
    line-height: 1.6;
}

header {
    background-image: linear-gradient(rgba(38, 173, 38, 0.45), rgba(49, 133, 49, 0.45)), url(../img/bg-header.jpg);
    background-size: cover;
    /* background-color: #4e4e4e2b; */
    background-repeat: no-repeat;
    background-blend-mode: color;
    color: #fff;
    text-align: center;
    padding: 3rem 1rem;
    
}

header img {
    width: 350px;
    filter: drop-shadow(0px 1px 1px #000000);
}

header h1 p {
    filter: drop-shadow(0px 1px 1px #000000);
}

header h1 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.1rem;
}

section {
    padding: 3rem 10%;
}

h2, h3 {
    text-align: center;
    color: #5e7441;
    margin-bottom: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    color: #4b5e2a;
    margin: 1rem 0 0.5rem;
}

.card p {
    padding: 0 1rem 1.5rem;
    font-size: 0.9rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4e4e4e;
    color: #fff;
}

tfoot .total {
    font-weight: 700;
    color: #4e4e4e;
}

tfoot .total-value {
    text-align: right;
}

tfoot .lucro-z {
    font-weight: 700;
    color: #4e4e4e;
}

tfoot .value-value {
    text-align: left;
}

#solver img {
    display: block;
    max-width: 700px;
    width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
}

section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}


footer {
    background-color: #4e4e4e;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    
}
